In [22]:

import tensorflow as tf 
from tensorflow import keras
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [23]:
model=load_model('ann_model.h5')
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('onehot_encoder_geography.pkl','rb') as file:
    onehot_encoder_geography=pickle.load(file)
with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [24]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':2,
    'Balance':80000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':90000
}

In [25]:
input_df=pd.DataFrame([input_data])

In [26]:
new_geo=onehot_encoder_geography.transform([[input_data['Geography']]]).toarray()
geo_df=pd.DataFrame(new_geo,columns=onehot_encoder_geography.get_feature_names_out(['Geography']))
geo_df

c:\Users\HP\Desktop\Fold\ANN project\.conda-env\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [27]:
input_df.drop('Geography',axis=1,inplace=True)
input_df=pd.concat([input_df,geo_df],axis=1)

In [28]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,2,80000,2,1,1,90000,1.0,0.0,0.0

In [ ]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,2,80000,2,1,1,90000,1.0,0.0,0.0

In [30]:
##Scaling the input_dtata
input_data_scaled=scaler.transform(input_df)
input_data_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -1.04241787,  0.0624086 ,
         0.80843615,  0.64920267,  0.97481699, -0.1813654 ,  1.00150113,
        -0.57946723, -0.57638802]])

In [34]:
prediction=model.predict(input_data_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step

array([[0.06356312]], dtype=float32)

In [35]:
if(prediction[0][0]>0.5):
    print("The customer is likely to leave the bank.")
else:
    print("The customer is likely to stay with the bank.")

The customer is likely to stay with the bank.